{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Novo Produto{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Nome</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label for="quantity">Quantidade</label>
    <input name="quantity" id="quantity" value="{{ request.form['quantity'] }}" required>
    <label for="brand">Marca</label>
    <input name="brand" id="brand" value="{{ request.form['brand'] }}" required>
    <label for="validity">Validade</label>
    <input type="date" name="validity" value="{{ request.form['validity'] }}" id="validity" required>

    <input type="submit" value="Save">
  </form>
{% endblock %}