{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Compras{% endblock %}</h1>
    <a class="action" href="{{ url_for('routes.create') }}">Novo</a>
{% endblock %}

{% block content %}
  {% for product in products %}
    <product class="product">
      <header>
        <div>
          <h1>{{ product['name'] }}</h1>
          <div class="about">by {{ product['brand'] }}</div>
          <div class="about">Quantity: {{ product['quantity'] }}</div>
          <div class="about">Validade: {{ product['validity'] }}</div>
        </div>
          <a class="action" href="">Editar</a>
            <form action="{{ url_for('routes.delete', id=product['id']) }}" method="post">
                <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
      </header>
    </product>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}